ion-header {

  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    padding-top: 13px;
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }

}

ion-content {
  --background: linear-gradient(90deg, #f86f05 0%, #f86f05 35%, #f86f05 100%);

  .slides {
    background: #f1f5f8;
    padding: 4px 10px 15px 10px;
    border-radius: 0 0 28px 28px;
  }

  ion-card {
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
    padding: 14px;
    background: rgba(255,255,255,.8);
    .main {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow:  7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        width: 30px;
        font-size: 30px;
      }

    }

    ion-card-header {
      padding-top: 5px;
    }

    ion-card-title {
      font-size: 15px;
      margin-bottom: 5px;
    }

    ion-card-content {
      padding-bottom: 5px;
    }

    .files {
        padding-top: 14px;
    }

  }

  .container {
    padding: 6px 20px;
    color: #FFFFFF;

    ion-item {
      --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255,255,255,.66);
        }
      }

    }

    h2 {
      padding-bottom: 8px;
    }

  }

}

ion-progress-bar {
  --progress-background: #023d69;
  --background: #f86f05;
}

.sideM {
  --width: 500px;

  ion-icon {
    margin-right: 6px;
  }
}

#main {
  --background: #fafafa;
  ion-item {
    --background: inherit;
    color: #023d69;
  }
}

.quick {
  ion-button {
    margin-bottom: 10px;
    --background: #023d69 !important;
  }

  ion-icon {
    margin-right: 6px;
  }
}
