<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <div class="groupTitle">
        <ion-label>Informations Personnelles</ion-label>
      </div>
    </ion-item-divider>

    <form #personalInfo="ngForm">

      <ion-item lines="full">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input
        [(ngModel)]="clientData.firstName"
        name="fname"
        #fname="ngModel"
        type="text"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>

        <ion-input
        [(ngModel)]="clientData.lastName"
        name="lname"
        #lname="ngModel"
        type="text"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input
        [(ngModel)]="clientData.phone"
        name="phone"
        #phone="ngModel"
        type="tel"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label>Sexe</ion-label>
        <ion-select #gender placeholder="Choisir" (ionChange)="getGender(gender.value)" required>
          <ion-select-option required>Masculin</ion-select-option>
          <ion-select-option required>Féminin</ion-select-option>
        </ion-select>
      </ion-item>


      <!-- <ion-item lines="full">
        <ion-label position="floating">DOB</ion-label>
        <ion-datetime   ></ion-datetime>
      </ion-item> -->

    </form>


  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Mesures</ion-label>
    </ion-item-divider>

    <form #measurements="ngForm">

      <ion-item lines="full">
        <ion-label position="floating">Cou</ion-label>
        <ion-input
        [(ngModel)]="clientData.cou"
        name="cou"
        #cou="ngModel"
        type="number"
        required></ion-input>
      </ion-item>


      <ion-item lines="full">
        <ion-label position="floating">Epaule</ion-label>
        <ion-input
        [(ngModel)]="clientData.epaule"
        name="epaule"
        #epaule="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Poitrine</ion-label>
        <ion-input
        [(ngModel)]="clientData.poitrine"
        name="poitrine"
        #poitrine="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Ceinture</ion-label>
        <ion-input
        [(ngModel)]="clientData.ceinture"
        name="ceinture"
        #ceinture="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tour bras</ion-label>
        <ion-input
        [(ngModel)]="clientData.tourBras"
        name="tourBras"
        #tourBras="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tour poignet</ion-label>
        <ion-input
        [(ngModel)]="clientData.tourPoignet"
        name="tourPoignet"
        #tourPoignet="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Longueur manche</ion-label>
        <ion-input
        [(ngModel)]="clientData.longManche"
        name="longManche"
        #longManche="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Longueur pantalon</ion-label>
        <ion-input
        [(ngModel)]="clientData.longPant"
        name="longPant"
        #longPant="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Taille</ion-label>
        <ion-input
        [(ngModel)]="clientData.longTaille"
        name="longTaille"
        #longTaille="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Longueur caftan</ion-label>
        <ion-input
        [(ngModel)]="clientData.longCaftan"
        name="longCaftan"
        #longCaftan="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tour cuisse</ion-label>
        <ion-input
        [(ngModel)]="clientData.tourCuisse"
        name="tourCuisse"
        #tourCuisse="ngModel"
        type="number"
        required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Tour cheville</ion-label>
        <ion-input
        [(ngModel)]="clientData.tourCheville"
        name="tourCheville"
        #tourCheville="ngModel"
        type="number"
        required></ion-input>
      </ion-item>


      <!-- <ion-item lines="full">
        <ion-label position="floating">DOB</ion-label>
        <ion-datetime   ></ion-datetime>
      </ion-item> -->


      <ion-row>
        <ion-col>
          <ion-button
          (click)="addClient()"
          [disabled]="!personalInfo.form.valid"
          style="--background: #f86f05"
          expand="block"
          shape="round">Valider</ion-button>
        </ion-col>
      </ion-row>
    </form>


  </ion-item-group>



</ion-content>
