<ion-header>
  <ion-toolbar>
    <ion-title>addclient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input  type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input  type="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime   ></ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
