<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons> -->
    <ion-title>Profil Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>Bienvenue</h2>
    <h3 class="clientName">Falou Ndoye</h3>
  </div>

  <div class="main-btns">
    <ion-button
      (click)="showMeasurementsModal()"
      class="sg-btn-primary"
      expand="block"
      >Consulter mes mesures</ion-button
    >
    <ion-button
      (click)="showGnawsModal()"
      class="sg-btn-primary"
      expand="block"
    >
      Consulter tous mes
      <span class="gnaw-word" style="margin-left: 3px"> gnaws </span>
    </ion-button>
    <ion-button disabled class="sg-btn-primary" expand="block"
      >Consulter l'état d'un
      <span class="gnaw-word" style="margin-left: 3px"> gnaw </span>
    </ion-button>
  </div>
</ion-content>
