.main-btns {

  margin-top: 35%;
  padding-left: 5%;
  padding-right: 5%;

  ion-button {
    margin-bottom: 3%;
  }
}

.clientName {
  color: #023d69;
  /* font-style: italic; */
  margin-top: -4px;
}
