/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
Colors : #f86f05, #0a8bb2, #023d69
*/

ion-content {
  --background: #fafafa;
}

ion-toolbar {
  --background: #fafafa;
}

ion-button {
  --background-activated: #0a8bb2;
  --background-focused: #023d69;
  --background-hover: #0a8bb2;
}

.gnaw-word {
  font-style: italic;
}

.sg-btn-primary {
  --background: #f86f05;
}

.sg-btn-secondary {
  --background: #d44206;
}

.sg-btn-tertiary {
  --background: #023d69;
}

.sg-btn-fourth {
  --background: #0a8bb2;
}
