<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <div class="logo">
      <img src="../../assets/sgLogo3.PNG" />
    </div>
    <h1>
      Bienvenue,
      <!-- sur
      <span style="color: #023d69; font-style: italic">SamayGnaw</span> -->
    </h1>
    <p>
      Choisissez votre profil et accédez à votre espace.
    </p>
  </ion-text>

  <div class="actions">
    <div class="login-buttons">
      <ion-button
      (click)="setProfileAsSaloon()"
      class="signup-btn2"
      expand="block">
        Je suis un salon
      </ion-button>
      <!-- <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-button> -->
      <!-- <ion-button>
        <ion-icon name="logo-google"></ion-icon>
        <ion-label>Google</ion-label>
      </ion-button> -->
    </div>
    <div class="separator">
      <span>ou</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>
    <ion-button
    (click)="setProfileAsClient()"
    class="signup-btn"
    expand="block">Je suis un client</ion-button>
    <p class="login">Pas de compte ? <a>Créez en un</a></p>
  </div>


</ion-content>
